<ion-content padding>

  <div>
    <ion-img id="logo" style="width: 210px; height: 90px;" src="assets/images/safartilogor.png"></ion-img>
  </div>

  <div id="text-block">
    <h2>Recherchez une destination.</h2>
  </div>
  <div id="home-form">
    <ion-list id="list-form">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-label class="form-lbl">De</ion-label>
          </ion-col>
          <ion-col col-10>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            <ion-list *ngIf="showList">
              <ion-item *ngFor="let item of items">
                {{ item }}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-label class="form-lbl">À</ion-label>
          </ion-col>
          <ion-col col-10>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            <ion-list *ngIf="showList">
              <ion-item>
                
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label class="form-lbl">Date de départ</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-label class="form-lbl">Heure</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>

      <button class="btn-red" (tap)="showResults()" ion-button full>Rechercher</button>
    </ion-list>
    <button id="btn-create" (tap)="showCreateVoyage()" ion-button outline color="primary">Créer un voyage !</button>
  </div>


</ion-content>