page-home {

@import url('https://fonts.googleapis.com/css?family=Dosis:300');


    .btn-red{
        display: block;
        margin-top: 20px;
        background-color: #B71C1C;
        font-size: 18px;
    }

    ion-img{
        background: none;
        display: block;
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:15%;
        transform:translateY(-50%);
    }

    #text-block h2{
        font-family: 'Dosis', sans-serif;
        text-align: center;
        margin-top: 30%;
    }

    .searchbar-ios{
      background: none;
      border: 2px solid #BDBDBD;
    }

    ion-label{
      font-size: 22px;
      font-family: 'Dosis', sans-serif;
    }
    
    #logo > img{
        width: 150px;
        height: 60px;
        margin: 0 auto;
    }

    #home-form{
        display: block;
        margin-top: 7%;
    }

    #list-form{
        margin-bottom: 6%;
    }

    #btn-create{
        display: block;
        margin: 0 auto;
    }

    ion-navbar {
      height: 50px;
    }

    @media only screen and (max-device-width : 320px){
        #text-block > h2{
            font-size: 22px;
        }

        .form-lbl{
            font-size: 18px;
        }
    }

    @media only screen and (min-device-width : 320px) and (max-device-height : 480px) 
    and (orientation : portrait) {

        #text-block > h2{
            font-size: 22px;
        }

        .form-lbl{
            font-size: 18px;
        }

        ion-searchbar{
            height: 15px;
        }

    }

    @media screen and (min-width : 585px){

        #text-block h2{
            margin-top: 20%;
        }

    }



}