page-mvoypreparant{

    @import url('https://fonts.googleapis.com/css?family=Dosis:300');


    .scroll-content{
        background: #EEEEEE;
    }

    h1{
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
    }

    .text-vert{
        color: green;
    }

    .icon-size{
        font-size: 35px;
    }

    .inline{
        display: inline ;
    }

    ion-col[col-2]{
        padding-left: 8%;
    }

    ion-icon#car-icon{
        font-size: 34px;
    } 

    #trajet-cities{
        font-weight: bold;
        color: #000;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-size: 18px;
    }

    .voyage-info{
        text-align: center;
    }

    #org-header{
        font-family: 'Dosis', sans-serif;
    }

    .org-info{
        font-weight: bold;
    }

    .org-info-icon{
        margin-right: 5%;
        font-size: 20px;
    }

    #info-sup-title{
        font-family: 'Dosis', sans-serif;
        font-size: 16px;
        margin-top: 3%;
        font-weight: bold;
    }

    #info-sup-p{
        padding: 2%;
        width: 100%;
    }

    #org-name{
        font-weight: bold;
    }

    #price{
        font-size: 14px;
        background-color: #000;
    }

    #trash-icon{
        font-size: 22px;
    }

    @media only screen and (max-device-width : 320px)
    and (orientation : portrait) { 
        
        .toolbar-title{
            font-size: 16px;
        }
    }

}