<ion-header>
  <ion-navbar>
    <ion-title>Inscription</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scroll="false">

    <ion-grid id="grid">
        <ion-row>
            <ion-col col-4>
                <ion-img id="logo" src="assets/images/lotoS.png"></ion-img>
            </ion-col>
            <ion-col col-8>
                <h2>Devenez membre et entrez dans l'aventure Safarti !</h2>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div>
       
    </div>

    <h2 class="text-red"> Veuillez remplir les informations</h2>

    <ion-list>

        <div id="photo-loader"> 
            <ion-label id="lbl-photo" class="form-label">Photo de profil</ion-label>
            <img id="image-loaded" [src]="base64Image" *ngIf="base64Image" (click)="accessGallery()"/>
            <button id="choose-btn" ion-button color="primary" (click)="accessGallery()">Choisir</button>
        </div>
        <ion-item>
            <ion-label class="form-label" fixed>Nom </ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="form-label" fixed>Prénom</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="form-label" fixed>Email</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="form-label" fixed>Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="form-label" fixed>Téléphone</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>

        <!--<ion-item>
            <ion-label class="form-label" fixed>Modèle Voiture</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>-->
        <div ng-controller="AjaxCtrl" >
            <ion-item id="country" ng-model="country" ng-options="country for country in countries">
                <ion-label class="form-label" fixed>Marque</ion-label>
                    <ion-select >
                        <ion-option value="">{{ country }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                    <ion-label class="form-label" fixed>Modèle</ion-label>
                    <ion-select id="city" ng-disabled="!cities" ng-model="city" ng-options="city for city in cities">
                        <ion-option value="">{{ city }}</ion-option>
                    </ion-select>
                </ion-item>

        </div>


        <button class="btn-red" (tap)="showTabsPage()" ion-button full>S'inscrire !</button>

    </ion-list>
  

</ion-content>
